.App {
  display: flex;
}

.list-wrapper {
  max-height: 700px;
  overflow: auto;
  border: 1px solid #333;
  padding: 0.5rem;
}
.container { padding: 1rem; min-width: 300px; }
.pokemon-btn {
  font-size: 1.2rem;
  text-transform: capitalize;
  font-weight: 400;
  padding: 0.25rem 0;
}

.pokemon-btn:hover { cursor: pointer; }
.notes {
  margin-top: 10px;
}
.note {
  border: 1px solid black;
  border-radius: 4px;
  width: 400px;
  margin: 0 auto 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.note-content {
  display: flex;
}
.note-text {
  width: 200px;
  padding: 0 10px;
  word-wrap: break-word;
}
button {
  height: 21px;
}
input {
  width: 210px;
}
